@media screen and (min-width: 940px) {
    .card {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 940px) and (min-width: 576px) {
    .card {
        width: 47%;
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: 80vw;
    }
}
