@media screen and (min-width: 1400px) {
    .card {
        width: 400px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 992px) {
    .card {
        width: 31%;
    }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
    .card {
        width: 47%;
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: 80vw;
    }
}
