#carousel-birds img {
    height: min(475px, 67vw);
}

@media screen and (min-width: 900px) {
    #carousel-birds {
        width: 850px;
    }
}

@media screen and (max-width: 900px) {
    #carousel-birds {
        width: 100%;
    }
}